@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.container {
  max-width: inherit;
  background-color: #f5f5f5;
}

a.navbar-brand {
  margin: auto;
  max-width: fit-content;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 30px;
}

button.loginButton {
  border: none;
  font-family: cursive;
  background: transparent;
  color: black;
  padding: 14px;
  font-family: "Signika", sans-serif;
  font-size: 19px;
}

button.loginButton:hover,
button.loginButton:focus {
  background-color: teal;
  border-radius: 20px;
}
